* {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

body {
	background: #fcf9f5;
}

.wrapper {
	width: 50vw;
	margin: 0 auto;
	display: flex;
	align-items: center;
	flex-direction: column;
	padding: 20px 0;
}

.slideRules {
	width: 50vw;
	background: #FFD700;
	padding: 10px 20px;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	color: #fff;
	font-size: 30px;
	font-weight: 900;
}

#rules {
	background: #FFDAB9;
	padding: 10px 20px;
	font-size: 18px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	color: #fff;
}

a {
	text-decoration: none;
	color: #fff;
	margin-top: 20px;
}

#nextTask {
	background: red;
	padding: 10px;
	font-size: 25px;
	border-radius: 10px;
	display: none;
}

.answer {
	margin-top: 20px;
}

.taskProgress,  .timeProgress{
	position: fixed;
	left: 5vw;
	top: 30vh;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.timeProgress {
	left: 85vw;
}

.sound {
	margin-top: 13rem;
}

.start {
	background: gold;
	padding: 10px 20px;
	font-size: 25px;
	font-family: sans-serif;
	color: #fff;
	margin: 20px 0;
	cursor: pointer;
}

.taskProgress, .timeProgress, .sound, .answer {
	display: none;
}

.gameBoard {
	display: grid;
	width: 100%;
	gap: 5px;
	grid-template-columns: repeat(6, 1fr);
	grid-template-rows: repeat(4, 100px);
}

.card {
	background: #fff;
	text-align: center;
	line-height: 100px;
	cursor: pointer;
	transition: all 0.5s;
	transform-style: preserve-3d;
}

.front, .back {
	backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	color: gold;
	font-weight: 900;
}

.back {
	transform: rotateY(180deg);
}

.flip {
	transform: rotateY(180deg);
}

.card img {
	max-width: 100%;
	max-height: 100%;
	display: block;
	margin: 0 auto;
}